<footer class="page-footer footer-style-13 global_width">
    <div class="footer-bottom container py-1 py-sm-2">
        <div class="d-flex justify-content-center">
            <div class="footer-copyright">
                {{ section.settings.copyright }}
            </div>
        </div>
    </div>
</footer>