<div class="payment-icons">
<svg class="icon-cc-visa"><use xlink:href="#icon-cc-visa"></use></svg>
<svg class="icon-cc-mastercard"><use xlink:href="#icon-cc-mastercard"></use></svg>
<svg class="icon-cc-discover"><use xlink:href="#icon-cc-discover"></use></svg>
<svg class="icon-cc-amex"><use xlink:href="#icon-cc-amex"></use></svg>
<svg class="icon-cc-paypal"><use xlink:href="#icon-cc-paypal"></use></svg>
<svg class="icon-cc-apple-pay"><use xlink:href="#icon-cc-apple-pay"></use></svg>
<svg class="icon-cc-amazon-pay"><use xlink:href="#icon-cc-amazon-pay"></use></svg>
</div>