<div class="hdr-mobile show-mobile">
    <div class="hdr-content">
        <div class="container">
            <!-- Menu Toggle -->
            <div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><svg class="icon-menu"><use xlink:href="#icon-menu"></use></svg></a></div>
            <!-- /Menu Toggle -->
            <div class="logo-holder">
          		{% include 'header-logo' %}
          	</div>
            <div class="hdr-mobile-right">
                <div class="hdr-topline-right links-holder"></div>
                <div class="minicart-holder"></div>
            </div>
        </div>
    </div>
</div>