<header class="hdr hdr-style-6 {{ header_width }}  {% if section.settings.sticky %}hdr_sticky{% endif %} hdr-mobile-style{{ section.settings.style_mobile }}">
    {% include 'topline' %}
    {% include 'mobile-navigation' %}
    {% include 'header-mobile' %}
    <div class="hdr-desktop hide-mobile">
        <div class="hdr-topline hdr-topline--dark">
            <div class="container">
                <div class="row">
                    <div class="col-auto hdr-topline-left">
                        <div class="custom-text">{{ section.settings.delivery }}</div>
                    </div>
                    <div class="col hdr-topline-center">
                    </div>
                    <div class="col-auto hdr-topline-right links-holder">
                        {% include 'wishlist-header' %}
                        {% include 'header-login-form' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="hdr-content hide-mobile">
            <div class="container">
                <div class="row">
                    <div class="col logo-holder">
                        {% include 'header-logo' %}
                    </div>
                    <div class="col search-holder">
                        {% include 'header-search-visible' %}
                    </div>
                    <div class="col-auto custom-col">
                        {% if section.settings.phones != blank %}
                        <div class="hdr-icn-text">
                            <i class="icon icon-phone"></i>
                            <div>{{ section.settings.phones }}</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-auto minicart-holder">
                        {% include 'header-cart' %}
                    </div>
                </div></div>
        </div>
        <div class="nav-holder">
            <div class="hdr-nav">
                <div class="container">
                    {% include 'header-navigation' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'header-sticky' %}
</header>