<div class="hdr-mobile show-mobile">
    <div class="hdr-topline">
        <div class="container">
            <!-- Menu Toggle -->
            <div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a> </div>
            <!-- /Menu Toggle -->
            <div class="hdr-topline-center">
                <div class="custom-text d-none d-md-inline">{{ section.settings.delivery }}</div>
                <div class="custom-text">{{ section.settings.phone_1 }}</div>
            </div>
            <!-- /Menu Toggle -->
            <div class="hdr-topline-right links-holder">
            </div>
        </div>
    </div>
    <div class="hdr-content">
        <div class="container">
            <div class="logo-holder">
              {% include 'header-logo' %}
            </div>
            <div class="minicart-holder">
            </div>
        </div>
    </div>
</div>