{% if section.settings.languages %}
<!-- Header Language -->
<ul class="header-inline-link header-language">
    <li><a href="#">ENG</a></li>
    <li><a href="#">FRE</a></li>
    <li><a href="#">DEN</a></li>
</ul>
<!-- /Header Language -->
{% endif %}