<div class="instagram-grid three-in-row">
    <div id="instafeed1" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "{{ limit }}", "accessToken": "{{ settings.insta_token }}", "sortBy": "{{ settings.insta_sort }}"}'></div>
</div>