{% form 'customer', id:'footer-subsribe' %}
            {% if form.posted_successfully? %}
                <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
            {% else %}
                <div class="input-group">
                    <div class="form-control-wrapper">
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <input type="email" name="contact[email]"  class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.theme.enter_email' | t }}"  >
                    	{{ form.errors | default_errors }}
                  	</div>
                    <div class="input-group-btn">
                        <button class="btn btn--input-group" type="submit"><i class="icon-arrow-right"></i></button>
                    </div>
                </div>				
            {% endif %}
{% endform %}