<div class="holder bg-cover fullboxed holder--custom-color py-6 mt-0"  style="background-image:url({% if settings.newsletter_footer_2_bg != blank %}{{ settings.newsletter_footer_2_bg | img_url:'master' }}{% else %}{{ 'newsletter-bg.png' | asset_url }}{% endif %});color: #fff;">
    <div class="container">
        <div class="subscribe-form subscribe-form--style2">
            <h2 class="h1-style text-center">{{ settings.newsletter_title }}:</h2>
            <p>{{ settings.newsletter_desc }}</p>
            {% include 'newsletter-footer-form' %}
        </div>
    </div>
</div>