<div class="holder mt-0">
    <div class="container">
        <div class="row prd-block prd-block--mobile-image-first prd-block--prv-left js-prd-gallery" id="prdGallery100">
            <div class="col-md-6 col-xl-5">
                <div class="prd-block_info js-prd-m-holder mb-2 mb-md-0"></div>
                {% include 'product-media' product:product %}
            </div>
            <div class="col-md">
                {% include 'product-page-info' quick_view:'no' %}
            </div>
            {% if section.settings.right_column_yes %}
                <div class="col-xl-3 mt-3 mt-xl-0 sidebar-product">
                    {% if section.settings.description != blank  %} <div class="shop-features-style4">{{ section.settings.description }}</div>{% endif %}
                    {% include 'product-countdown' %}
                </div>
            {% endif %}
            {% include 'product_prev_next' %}
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="row vert-margin">
                <div class="col-md-6">
                    <h2>{{ 'general.theme.tab_description' | t }}</h2>
                    {% assign product_description = product.description %}
                    {{ product_description }}
                </div>
                <div class="col-md-6">
                    {% include 'product-tabs-style-2' %}
                </div>
            </div>
        </div>
    </div>
    {% if section.settings.product_rating %}
    <div class="holder">
        <div class="container">
            {% include 'reviews-shortcode' %}
        </div>
    </div>
    {% endif %}

    {% assign description_2 = product.metafields.c_f.description_2 %}
    {% if description_2 != blank %}
        <div class="holder">
            <div class="container">
                {{ description_2 }}
                <div class="line-divider line-divider--90"></div>
            </div>
        </div>
    {% endif %}


</div>