<div class="cart-attribute__field uploader-debut">
  <div class="image-preview-single">
    <img src="" alt="">
    <input id="uploader" type="hidden" role="uploadcare-uploader" name="properties[Photo]" value="{{ properties['Photo'] }}" />
</div>
</div>