{% unless settings.catalog_mode %}
{% if settings.wishlist %}
<!-- Header WishList -->
    <!-- Header Wishlist -->
    <div class="dropdn dropdn_wishlist {% if onlytext == 1 %}only-text{% endif %}">
        <a href="/account" class="dropdn-link"><i class="icon icon-heart-1"></i><span>{{ 'general.theme.wishlist' | t }}</span></a>
    </div>
    <!-- /Header Wishlist -->
<!-- Header WishList -->
{% endif %}
{% endunless %}